body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-family: Work Sans, sans-serif;
}

header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #036b52;
  color: white;
  border-bottom: 8px solid;
  border-color: #2fc18c;
  z-index: 1;
}

nav {
  float: right;
  height: 80px;
  line-height: 80px;
  margin-right: 5%;
}

a {
  color: white;
  text-decoration-thickness: 2px;
  text-underline-offset: 10%;
}

a:hover {
  color: #a0c9ba;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
  color: white;
}

h1 {
  margin: 0;
  padding-left: 20px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
}

img {
  border-radius: 100%;
  width: 300px;
  float: left;
  padding-left: 20px 
}

table, th, td {
  border: 2px solid #036b52;
  border-collapse: collapse;
}

main {
  margin-top: 100px;
}

div {
  height: 300px;
}

table {
  position: relative;
  left: 20%;
  top: 22.5px;
  z-index: 0;
}

th {
  padding: 10px;
  color: white;
  font-size: 18px;
  background-color: #2fc18c;
}

td {
  padding-right: 20px;
  background-color: rgb(253, 251, 251)
}
