body {
  margin: 0;
  background-color: rgb(253, 251, 251);
  font-family: Work Sans, sans-serif;
}

header {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: rgb(3, 107, 82);
  color: white;
}

nav {
  float: right;
  height: 80px;
  margin-right: 5%;
  line-height: 80px;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
}

a {
  text-decoration-thickness: 2px;
  text-underline-offset: 10%;
  color: white;
}

a:hover {
  color: rgb(160, 201, 186);
}

h1 {
  height: 80px;
  padding-left: 20px;
  margin: 0;
  line-height: 80px;
  vertical-align: middle;
}

main {
  margin-top: 100px;
}

#img-table {
  height: 300px;
}

img {
  float: left;
  width: 300px;
  padding-left: 20px;
  border-radius: 100%;
}

table , th , td {
  border: 2px solid rgb(3, 107, 82);
  border-collapse: collapse;
}

table {
  position: relative;
  left: 20%;
  top: 22.5px;
  z-index: 0;
  caption-side: bottom;
}

th {
  padding: 10px;
  font-size: 18px;
  background-color: rgb(47, 193, 140);
  color: white;
}

td {
  padding-right: 20px;
  background-color: rgb(253, 251, 251);
}

#article-section {
  display: block;
  margin: 40px 0 30px;
}

article {
  float: right;
  height: 100%;
  width: 70%;
  padding-right: 20px;
}

p {
  margin-top: 0;
}

section {
  width: 300px;
  padding-left: 20px;
}

footer {
  height: 50px;
  margin-top: 20px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(60, 64, 74);
  color: white;
}
